<div class="container">
  <h1>List of all found pets</h1>
  <ul>
    <% @pets.each do |pet| %>
      <li>
        <%= link_to pet.name, pet_path(pet.id) %> (<%= pet.species %>)
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a new Pet", new_pet_path, class: "btn btn-primary"  %>

</div>
